@import "fonts.css";
:root{
    --with-hv: 100hw;
    --col-1: calc(100% * 1 / 12);
    --col-2: calc(100% * 2 / 12);
    --col-3: calc(100% * 3 / 12);
    --col-4: calc(100% * 4 / 12);
    --col-5: calc(100% * 5 / 12);
    --col-6: calc(100% * 6 / 12);
    --col-7: calc(100% * 7 / 12);
    --col-8: calc(100% * 8 / 12);
    --col-9: calc(100% * 9 / 12);
    --col-10: calc(100% * 10 / 12);
    --col-11: calc(100% * 11 / 12);
    --col-12: calc(100% * 12 / 12);
    --col-13: calc(100% * 13 / 12);
    --col-14: calc(100% * 14 / 12);
    --primary: rgba(48, 119, 198, 1);
    --primary-dark: #10367C;
    --secondary: #F5BD41;
    --dark-m1: #121212;
    --dark-m2: #1D1E1F;
    --dark-m3: #4D4D4D;
    --main-stroke: #F3F3F4;
    --main-text: #383838;
    --secondary-text: #BFBFBF;
}
h1{
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    color: white;
    margin: 0;
}
h2{
    font-size: 40px;
    color: rgba(56, 56, 56, 1);
    font-weight: 500;
    margin-top: 120px;
    text-align: center;
}
a{
    position: relative;
    color: white;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
a:hover{
    border-bottom-color: var(--secondary);
}
a:visited{
    color: white;
}
a:active{
    color: white;
}
a:after {
    display: block;
    position: relative;
    top: 10px;
    right: calc((100% - (100% - 10px)) / -2);
    width: 0;
    height: 4px;
    background-color: var(--secondary);
    content: "";
    transition: width 0.2s ease-out;
}
a:hover:after,
a:focus:after {
    width: calc(100% - 10px)
}
body{
    box-sizing: border-box;
    border: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto-medium", Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}
.home{
    background-image:url("./img/background.jpg");
    padding-left: var(--col-1);
    padding-right: var(--col-1);
    padding-top: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-clip: border-box;
    margin-left: auto;
    margin-right: auto;
}
.home-hv{
    height: 100vh;
    max-height: 900px;
    max-width:1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 10px;

}
.home-label-search{
    margin-left: 10px;
    margin-bottom: 24px;
    font-family: "Roboto-medium", Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}
.home-inputes{
    display:grid;
    grid-template-columns: var(--col-4) var(--col-3);
    grid-template-rows: 40px 1fr;
}
.input-label-1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.input-label-2{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.home-form{
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    display: grid;
    grid-template-columns: var(--col-4) calc(var(--col-3) / 2) calc(var(--col-3) / 2) var(--col-3) var(--col-2);
    grid-template-rows: 1fr;
    background: white;
    border-radius:8px;
    border-style: none;
    padding: 0;
}
select, .input{
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    border-style: none;
    border-radius: 8px;
    padding-left: 10px;
    font-family: "Roboto", Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
}
select, .input:hover{
    border-style: solid;
    border-color: var(--secondary);
    border-width: 3px;
}
select, .input:focus{
    border-style: solid;
    border-color: var(--secondary);
    border-width: 3px;
    outline: none;
}
.input-date{
    cursor: pointer;
}
.input-button{
    font-family: "Roboto-medium", Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    height: 60px;
    width: 100%;
    border-style: none;
    border-radius: 8px;
    padding-left: 10px;
    color: white;
    background:var(--primary);
}
.input-button:hover{
    border-style: solid;
    background:var(--primary-dark);
    border-color:var(--primary-dark);
    border-width: 3px;
    cursor: pointer;
}
.input-button:focus{
    outline: none;
}
/*
.room-otkr{
    position: relative
}
.spisok-skr{
    display: none;
    position: absolute;
    border: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1);
    background: white;
}
.room-otkr:hover +.spisok-skr{
    display: block;
    z-index: 999;

}
*/
.home-content{
    display: flex;
    height: calc(100% - 55px);
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.home-top{
    display: flex;
    justify-content: space-between;
    color: white;
}
.home-top-right{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}
.home-top-text{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}
.home-top-ico{
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}
.home-apps {
    display: flex;
    justify-content:center;
}
.a-store{
    margin-right: 15px;
}
.offer-title::after {
    display: block; /* линия чертится снизу */
    position: relative;/* про позиции почитаешь в лекциях там много их */
    top: 30px;/* отступ типа как margin-top , только без margin */
    right: calc((100% - 100px) / -2); /* ну тут типа отступ справа, тут надо вручную формулу придумать что бы отцентрировать*/
    width: 100px; /* ширина полоски */
    height: 4px; /* высота полоски */
    background-color: var(--secondary); /* цвет полоски */
    content: ""; /* тут можно написать что хочешь текст допустим и его нарисует, но если оставляешь пустое место, то рисует линию*/
}
.offer-buttons{
    max-width:1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 93px;
    min-height: 450px;
    text-align: center;
    display: flex;
    align-items:baseline;
    justify-content:space-evenly;
    flex-wrap: wrap;
}
.offer-text{
    font-size: 24px;
    color: rgba(56, 56, 56, 1);;
    margin-top: 50px;
}
footer {
    box-sizing: border-box;
    background: var(--primary-dark);
    height: 630px;
    font-family: "Roboto", Roboto, sans-serif;
    font-weight: 400;
    color: white;
    padding-top: 120px;
    padding-left: 105px;
}
.footer-lists{
    max-width:1440px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    line-height: 1.4;
    font-size: 20px;
    align-items:flex-start
}
.footer-list{
    display: block;
    width: 35%;
}
b{
    font-weight: 500;
}
.footer-copywriting{
    max-width:1440px;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    margin-top: 50px;
}


