@import "fonts.css";

:root {
    --col-width: calc(100% * 1 / 12);
    --primary: #3077c6;
    --primary-dark: #10367C;
    --secondary: #F5BD41;
    --dark-mode-1: #121212;
    --dark-mode-2: #1D1E1F;
    --dark-mode-3: #4D4D4D;
    --main-stroke: #f3f3f4;
    --main-text: #383838;
    --main-bg: #EAF0F9;
    --secondary-text: #BFBFBF;
}

.col-1 {
    width: var(--col-width);
}

.col-2 {
    width: calc(var(--col-width) * 2);
}

.col-3 {
    width: calc(var(--col-width) * 3); /* 25% */
}

.col-4 {
    width: calc(var(--col-width) * 4);
}

.col-5 {
    width: calc(var(--col-width) * 5);
}

.col-6 {
    width: calc(var(--col-width) * 6); /* 50% */
}

.col-7 {
    width: calc(var(--col-width) * 7);
}

.col-8 {
    width: calc(var(--col-width) * 8);
}

.col-9 {
    width: calc(var(--col-width) * 9); /* 75% */
}

.col-10 {
    width: calc(var(--col-width) * 10);
}

.col-11 {
    width: calc(var(--col-width) * 11);
}

.col-12 {
    width: calc(var(--col-width) * 12);
}

h1 {
    font-size: 50px;
    font-weight: 500;
    text-align: left;
    color: white;
    margin: 0;
}

h2 {
    font-size: 40px;
    color: var(--main-text);
    font-weight: 500;
    text-align: center;
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 400;
    color: #3077C6;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    color: var(--primary);
}

#logo, #headphones, #communication, #booking, #like {
    fill: var(--primary);
}

#night, #account, #footer-logo, #sm-menu {
    fill: white;
}

#loupe, #x, #account-reviews {
    fill: var(--secondary-text);
}

a {
    position: relative;
    color: white;
    cursor: pointer;
    line-height: 1;
    text-decoration: none;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

a:hover {
    border-bottom-color: var(--secondary);
}

a:visited {
    color: white;
}

a:active {
    color: white;
}

a:after {
    display: block;
    position: relative;
    top: 10px;
    right: calc((100% - (100% - 10px)) / -2);
    width: 0;
    height: 4px;
    background-color: var(--secondary);
    content: "";
    transition: width 0.2s ease-out;
}

a:hover:after,
a:focus:after {
    width: calc(100% - 10px)
}

body {
    box-sizing: border-box;
    border: none;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    font-family: "Roboto-medium", Roboto, sans-serif;
    font-weight: 400;
    font-style: normal;
}

.home {
    background-image: url("./img/background.jpg");
    padding-left: var(--col-width);
    padding-right: var(--col-width);
    padding-top: 0;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-clip: border-box;
    margin-left: auto;
    margin-right: auto;
}

.home-width {
    height: 100vh;
    max-height: 900px;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 10px;
}

.home-inputs {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.input-label {
    display: flex;
    margin-left: 10px;
    margin-bottom: 24px;
    font-family: "Roboto-medium", Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.home-form {
    display: flex;
    background: white;
    align-items: flex-end;
    flex-wrap: wrap;
    border-radius: 8px;
    border-style: none;
    padding: 0;
}

.search-destination {
    width: 100%;
    font-family: "Roboto", Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    border-style: none;
    border-radius: 8px;
}

.search-destination:focus {
    outline: none;
}

.search-loupe-s {
    display: none;
    width: 16px;
}

.search {
    display: flex;
    box-sizing: border-box;
    height: 60px;
    width: 100%;
    border-style: none;
    border-radius: 8px;
    padding-left: 10px;
    font-family: "Roboto", Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.search:hover {
    border-style: solid;
    border-color: var(--secondary);
    border-width: 3px;
}

.search:focus {
    border-style: solid;
    border-color: var(--secondary);
    border-width: 3px;
    outline: none;
}

.search-date-s {
    display: none;
}

.input-date {
    display: flex;
    cursor: pointer;
}

.search-people {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.search-people-line {
    height: 10px;
    width: 0.07em;
    margin-right: 0.5em;
    margin-left: 0.5em;
    background-color: var(--main-text);
    transform: rotate(90deg);
}

.input-button {
    font-family: "Roboto-medium", Roboto, sans-serif;
    font-weight: 500;
    font-size: 24px;
    height: 60px;
    border-style: none;
    border-radius: 8px;
    padding-left: 10px;
    color: white;
    background: var(--primary);
}

.input-button:hover {
    border: none;
    background: var(--primary-dark);
    cursor: pointer;
}

.input-button:focus {
    outline: none;
}

.home-content {
    display: flex;
    height: calc(100% - 55px);
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}

.home-top {
    display: flex;
    justify-content: space-between;
    color: white;
}

.home-logo {
    width: 200px;
    height: 40px;
}

.home-top-right {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
}

.home-top-text {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
}

.home-top-ico-night {
    width: 30px;
    height: 30px;
}

.home-top-ico-account {
    width: 40px;
    height: 40px;
}

.home-top-ico {
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;
}

.home-top-menu {
    display: none;
}

.home-apps {
    display: flex;
    justify-content: center;
}

.g-play {
    margin-right: 15px;
}

.offer {
    padding-top: 10vh;
}

.offer-title::after {
    display: block;
    position: relative;
    top: 30px;
    right: calc((100% - 100px) / -2);
    width: 100px;
    height: 4px;
    background-color: var(--secondary);
    content: "";
}

.offer-buttons {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 90px;
    min-height: 450px;
    text-align: center;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.offer-ico {
    width: 100px;
    height: 100px;
}

.offer-text {
    font-size: 24px;
    color: var(--main-text);
}

.houses-title, .reviews-title {
    margin-bottom: 10vh;
}

.houses {
    max-width: 1400px;
    background-color: var(--main-bg);
    padding: 10vh var(--col-width);
    margin-left: auto;
    margin-right: auto;
}

.houses-cards, .dest-cards, .reviews-cards {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.houses-card, .dest-card, .reviews-card {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-style: solid;
    border-width: 5px;
    overflow: hidden;
    border-color: transparent;
    position: relative;
}

.houses-img, .dest-img {
    vertical-align: top;
    display: block;
    object-fit: cover;
    height: 300px;
    width: 300px;
}

.houses-card-text, .dest-card-text {
    text-align: left;
}

.houses-card-text-location {
    font-size: 24px;
    font-weight: 400;
    color: var(--secondary-text);
}

.houses-arrow-up, .dest-arrow-s {
    display: flex;
    justify-content: flex-end;
    right: -20px;
    top: calc((300px - 40px) / 2);
    width: 100%;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

.houses-arrow {
    display: block;
    height: 48px;
    width: 48px;
}

.dest-arrow:hover, .houses-arrow:hover {
    filter: brightness(0.9);
}

.destinations, .reviews {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1400px;
    margin: 0 auto;
    padding: 10vh var(--col-width) 0;
}

.dest-arrow-down {
    width: 48px;
    transform: scale(-1, 1) rotate(90deg);
    cursor: pointer;
}

.dest-arrow {
    width: 48px;
    margin: 0 auto;
    cursor: pointer;
}

.dest-arrow-s {
    display: none;
}

.dest-buttons {
    display: flex;
    background-color: var(--main-stroke);
    border-radius: 8px;
    margin-bottom: 65px;
}

.dest-button {
    font-family: "Roboto-medium", Roboto, sans-serif;
    font-weight: 400;
    font-size: 24px;
    height: 65px;
    border-style: none;
    border-radius: 8px;
    width: 100%;
    color: var(--main-text);
    background: var(--main-stroke);
}

.dest-button:hover, .dest-button:focus {
    border: none;
    background: var(--primary);
    color: white;
    cursor: pointer;
}

.dest-card-button-position {
    display: none;
    height: 0;
    align-self: center;
    top: calc((300px - 50px) / 2);
    position: absolute;
    z-index: 1;
    cursor: pointer;
}

.dest-card-shadow {
    display: none;
    width: 100%;
    height: 300px;
    background-color: var(--main-text);
    position: absolute;
    opacity: 0.6;
}

.dest-card:hover .dest-card-shadow {
    display: block;
}

.dest-card:hover .dest-card-button-position {
    display: block;
}

.dest-registration-button:hover {
    background-color: #3077c6;
    color: white;
    cursor: pointer;
}

.rev-registration {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 24px;
    height: 200px;
    background-color: var(--main-bg);
}

.rev-registration-left {
    display: flex;
    align-items: center;
}

.rev-registration-ico {
    width: 90px;
    height: 90px;
    margin-right: 24px;
}

.rev-registration-text {
    font-size: 24px;
    font-weight: 500;
    color: var(--main-text);
}

.rev-registration-button, .dest-card-button {
    width: 128px;
    height: 48px;
    background-color: white;
    border-style: solid;
    border-color: #3077C6;
    border-radius: 8px;
    border-width: 1px;
    font-size: 18px;
    color: #3077C6;
    outline: none;
    cursor: pointer;
}

.rev-registration-x {
    box-sizing: border-box;
    border-style: solid;
    border-radius: calc(40px / 2);
    border-color: var(--main-bg);
    width: 40px;
    height: 40px;
    align-self: flex-start;
}

.rev-registration-x:hover {
    border-radius: 20px;
    cursor: pointer;
    border-color: var(--secondary-text);
}

.rev-registration-ico-s, .rev-registration-s-install {
    display: none;
}

.reviews-cards {
    margin-bottom: 10vh;
}

.reviews-card {
    position: relative;
    border-style: solid;
    border-color: white;
    border-width: 5px;
    width: 100%;
    background-color: var(--main-bg);
}

.reviews-card-cost {
    display: flex;
    align-items: center;
    padding-left: 24px;
    width: 100%;
    height: 48px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    position: absolute;
    top: 352px;
    background-color: rgba(56, 56, 56, 0.7);
}

.rev-card-info-hotel, .rev-card-info-rating {
    margin-top: 24px;
    margin-bottom: 8px;
}

.rev-card-info-destinations {
    color: var(--primary);
}

.reviews-card-img {
    vertical-align: top;
    display: block;
    object-fit: cover;
    overflow: hidden;
    height: 400px;
    width: 100%;
}

.reviews-card-info {
    padding: 0 24px 24px;
}

.reviews-card-signature {
    display: flex;
    justify-content: space-between;
}

.reviews-card-signature-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.rev-card-info-rating {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark);
    font-size: 18px;
    font-weight: 500;
    border-radius: 8px;
    width: 48px;
    height: 32px;
    color: white;
}

.rev-card-info-views {
    font-size: 14px;
    font-weight: 400;
    color: var(--secondary-text);
}

.reviews-card-user {
    height: 60px;
    padding: 5px;
    display: flex;
}

.reviews-card-user-ico {
    width: 50px;
}

.reviews-card-user-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.reviews-card-user-info-name {
    font-size: 18px;
    font-weight: 400;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 8px;
    color: var(--main-text);
}

.reviews-card-user-info-location {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: var(--secondary-text);
}

.reviews-card-review {
    font-size: 18px;
    font-weight: 400;
    color: var(--main-text);
}

.reviews-arrow-up {
    display: flex;
    justify-content: flex-end;
    right: -20px;
    top: calc((400px - 40px) / 2);
    width: 100%;
    position: absolute;
    z-index: 2;
}

.reviews-arrow {
    display: block;
    height: 48px;
    width: 48px;
    cursor: pointer;
}

.reviews-arrow:hover {
    filter: brightness(0.9);
}

footer {
    box-sizing: border-box;
    background: var(--primary-dark);
    min-height: 630px;
    font-family: "Roboto", Roboto, sans-serif;
    font-weight: 400;
    color: white;
    padding-top: 120px;
}

.footer-logo {
    display: none;
}

.footer-size-content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 var(--col-width);
}

.footer-lists {
    display: flex;
    line-height: 1.4;
    font-size: 20px;
}

.footer-copyright {
    font-size: 14px;
    margin-top: 50px;
}

@media (max-width: 1000px) {
    :root {
        --col-width: calc(100% * 1 / 12);
    }

    .col-s-0 {
        display: none;
    }

    .col-s-1 {
        width: var(--col-width);
    }

    .col-s-2 {
        width: calc(var(--col-width) * 4);
    }

    .col-s-3 {
        width: calc(var(--col-width) * 6); /* 50% */
    }

    .col-s-4 {
        width: calc(var(--col-width) * 8);
    }

    .col-s-5 {
        width: calc(var(--col-width) * 10);
    }

    .col-s-6 {
        width: calc(var(--col-width) * 12);
    }

    /* home */
    h1 {
        font-size: 30px;
    }

    .home {
        padding-left: 0;
        padding-right: 0;
    }

    .home-width {
        padding: 15px 15px 0 15px;
    }

    .home-logo {
        width: 125px;
        height: 25px;
    }

    .home-top-menu {
        display: block;
    }

    .home-top-ico-night {
        width: 16px;
        height: 16px;
    }

    .home-top-ico-account {
        width: 24px;
        height: 24px;
    }

    .home-top-text {
        display: none;
    }

    .home-top-right {
        width: 100px;
    }

    .home-top-ico {
        width: 100px;
    }

    .input-label {
        display: none;
    }

    .search {
        border-style: solid;
        border-color: var(--secondary);
        font-size: 15px;
        border-width: 4px;
    }

    .search-loupe-s {
        display: block;
    }

    .search-destination-s {
        background-color: white;

    }

    .search-destination {
        margin-left: 8px;
        font-size: 15px;
        border-width: 4px;
    }

    .home-form {
        background-color: var(--secondary);
        padding: 4px;
    }

    .input-button {
        border-style: solid;
        border-color: var(--secondary);
        font-size: 19px;

    }

    .input-button:hover {
        border-style: solid;
        border-color: var(--secondary);
        border-width: 4px;
    }

    .search-people-line {
        height: 30px;
        width: 1px;
        margin-right: 8px;
        background-color: #bfbfbf;
        transform: rotate(0deg);
    }

    .search-date-s {
        display: block;
    }

    .search-date {
        display: none;
    }

    .search-people-input {
        display: flex;
        flex-direction: column-reverse;
    }

    .search-people {
        display: flex;
        box-sizing: border-box;
        background-color: white;
        border-width: 4px;
        border-color: var(--secondary);
        height: 60px;
        width: 100%;
        border-style: solid;
        border-radius: 8px;
        padding-left: 10px;
        font-family: "Roboto", Roboto, sans-serif;
        font-weight: 400;
        font-size: 15px;
    }

    /* offer */
    h2 {
        margin-top: 24px;
        font-size: 28px;
    }

    .offer {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .offer-text {
        font-size: 15px;
    }

    .offer-buttons {
        margin-top: 0;
    }

    .offer-ico {
        width: 65px;
        height: 65px;
    }

    .offer-title::after {
        display: none;
    }

    /* house */
    .houses, .destinations, .reviews-s {
        padding: 5vh 15px;
    }

    .houses-card {
        text-align: center;
        box-sizing: border-box;
        border-style: solid;
        border-width: 10px;
        overflow: hidden;
        border-color: transparent;
    }

    /**/
    h4, .houses-card-text-location {
        font-size: 12px;
    }

    h4 {
        margin-top: 5px;
    }

    .houses-img, .dest-img {
        height: 150px;
        width: 100%;
    }

    .houses-arrow-up {
        top: calc((170px - 20px) / 2);
        right: -3px;
        z-index: 2;
        cursor: pointer;
    }

    .houses-arrow, .dest-arrow-s-up {
        height: 24px;
        width: 24px;
    }

    /* destinations */
    .dest-card-button {
        display: none;
    }

    .dest-buttons {
        margin-bottom: 30px;
        display: flex;
        justify-content: space-between;
        background-color: white;
    }

    .dest-button {
        border-style: solid;
        border-radius: 4px;
        border-width: 1px;
        border-color: var(--main-stroke);
        background-color: white;
        font-size: 19px;
        width: 30%;
        height: 30px;
    }

    .dest-button-places-m {
        display: none;
    }

    .dest-arrow {
        display: none;
        position: absolute;
    }

    .dest-arrow-s {
        display: block;
        width: 0;
        top: calc((150px - 20px) / 2);
        right: 15px;
    }

    .dest-card:hover .dest-card-shadow {
        display: none;
    }

    /* reviews */
    .reviews {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
    }

    .reviews-s {
        background-color: var(--main-bg);
    }

    .reviews-title-s {
        display: none;
    }

    .reviews-title {
        text-transform: capitalize;
    }

    .reviews-card {
        border-style: none;
    }

    .reviews-card-user {
        height: 45px;
    }

    .reviews-card-user-ico {
        width: 45px;
    }

    .rev-card-info-hotel, .rev-card-info-rating {
        margin-top: 12px;
    }

    .reviews-card-img {
        height: 300px;
        width: 100%;
    }

    .reviews-arrow-up, .reviews-card-cost {
        display: none;
    }

    .reviews-card-info {
        padding: 0;
        font-size: 15px;
    }

    .reviews-card-review, .rev-card-info-rating, .reviews-card-user-info-location, .reviews-card-user-info-name {
        font-size: 15px;
    }

    .rev-card-info-destinations {
        margin: 0;
    }

    .rev-card-info-rating {
        width: 40px;
        height: 25px;
    }

    .rev-card-info-views {
        font-size: 12px;
    }

    h5 {
        font-size: 15px;
    }

    .rev-registration {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        height: 100px;
        max-width: 400px;
        padding: 0 15px 0 15px;
    }

    .rev-registration-ico {
        display: none;
    }

    .rev-registration-x {
        width: 16px;
        margin: 15px;
        align-self: center;
        border-style: none;
    }

    .rev-registration-ico-s {
        display: block;
        width: 55px;
        height: 55px;
        background-color: var(--primary);
        border-radius: 4px;
        padding: 2px;
        flex-shrink: 0
    }

    .rev-registration-text {
        font-size: 12px;
        margin-left: 15px;
    }

    .rev-registration-button {
        display: none;
    }

    .rev-registration-s-install {
        display: block;
        font-weight: 500;
        font-size: 14px;
        color: var(--primary);
        cursor: pointer;
    }

    .reviews-drops {
        display: flex;
        justify-content: center;
    }

    .reviews-drop{
        width: 8px;
        height: 8px;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        border-color: #333333;
        margin: 2%
    }

    .reviews-drop:active, .reviews-drop:focus{
        background-color: #333333;
    }

    /* footer */
    .footer-logo {
        display: block;
        text-align: center;
    }

    .footer-logo-width {
        width: 100px;
        height: 20px;
    }

    .f-size-content {
        padding: 0;
    }

    footer {
        padding: 40px 70px;
        min-height: 200px;
    }

    .footer-lists {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
    }

    h3 {
        text-decoration: underline;
        font-size: 15px;
        text-align: center;
    }

    .footer-list-content {
        display: none;
    }

    .footer-copyright {
        font-size: 12px;
        text-align: center;
    }
}
